/AdditionDll
/Framework/RepositoryPattern/bin
/Framework/RepositoryPattern/obj
/Framework/RepositoryPatternEF6/bin
/Framework/RepositoryPatternEF6/obj
/Framework/ServicePattern/obj
/Library/Entities/bin
/Library/Entities/obj
/Library/Repository/bin
/Library/Repository/obj
/Library/Service/obj
/Library/Utils/bin
/Library/Utils/obj
/UI/Web/bin
/UI/Web/obj
/UI/Nois.Web.Framework/bin
/UI/Nois.Web.Framework/obj
/.vs/NOISDDS/v14/*.suo
/.vs
/Framework/ServicePattern/bin/Release
/Library/Service/bin/Release
/UI/Web/Properties/PublishProfiles
/Web_.psess
/Web_151223.vspx
/packages
/Libraries/Nois.Core
/Libraries/Nois.Data
/Libraries/Nois.Services/bin/Release
/Libraries/Nois.Services/obj
/Presentation/Nois.Web/obj/Release/Package
/Presentation/Nois.Web/obj
/Presentation/Nois.Web/bin
/Presentation/Nois.Web.Framework/bin/Release
/Presentation/Nois.Web.Framework/obj/Debug
/Presentation/Nois.Web.Framework/obj/Release
