@using Web.Models;
@model ManageModel

@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_KendoUILayout.cshtml";
}

<!-- USER PROFILE -->
<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-user"></i><span class="hidden-inline-mobile">Hello, @User.Identity.Name!</span></h4>
            </div>
            <div class="box-body">
                <div class="tabbable header-tabs user-profile">
                    <ul class="nav nav-tabs">
                      
                        <li><a href="#pro_edit" data-toggle="tab"><i class="fa fa-edit"></i> <span class="hidden-inline-mobile"> Edit Password</span></a></li>
                        <li class="active"><a href="#pro_overview" data-toggle="tab"><i class="fa fa-dot-circle-o"></i> <span class="hidden-inline-mobile">Overview</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- OVERVIEW -->
                        <div class="tab-pane fade in active" id="pro_overview">
                            
                            @Html.Partial("_ChangeInfoPartial",Model.InfoModel)

                            
                        </div>
                        <!-- /OVERVIEW -->
                        <!-- EDIT ACCOUNT -->
                        <div class="tab-pane fade" id="pro_edit">

                            @Html.Partial("_ChangePasswordPartial",Model.PassModel)

                        </div>
                        <!-- /EDIT ACCOUNT -->
                        <!-- HELP -->
                        <div class="tab-pane fade" id="pro_help">

                            <div class="divide-40"></div>
                        </div>
                        <!-- /HELP -->
                    </div>
                </div>
                <!-- /USER PROFILE -->





            </div>
        </div>
    </div>
</div>
@section bottomjs
{
  
 }
