@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_KendoUILayout.cshtml";
}

@*@section daterangepicker{
 
        <!-- DATE RANGE PICKER -->
        <span class="date-range pull-right">
            <div class="btn-group">
                <a class="js_update btn btn-default active" href="Attendance_making.html">Liquids Making</a>
                <a class="js_update btn btn-default" href="Attendance_packing.html">Liquids Packing</a>
                <a class="js_update btn btn-default hidden-xs" href="Attendance_supply_chain.html">Supply Chain</a>
                <a id="reportrange" class="btn reportrange">
                    <i class="fa fa-calendar"></i>
                    <span></span>
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>
        </span>
        <!-- /DATE RANGE PICKER -->

}*@
