@using Entities.Domain
@using Microsoft.Ajax.Utilities
@using Service.Interface
@model Web.Models.Packing.MeetModel

@*List<web.models.packing.meetingresultmodel>*@
@{
    ViewBag.Title = "FK";
    Layout = "~/Views/Shared/_KendoUILayout.cshtml";
    //var dmsCodes = Model.ListMeetingResultModel.Select(t => t.DmsCode).Distinct().ToList();
    //// hear
    //var listResults = new List<Web.Models.Packing.LineResult>();
    //var listLineName = new List<string>();
    //foreach (var result in Model.ListMeetingResultModel.Select(t => t.ListResult))
    //{
       
    //        listResults.AddRange(result);
    //        listLineName.AddRange(result.Select(lineResult => lineResult.LineName));
        
    //}
    //listResults = listResults.DistinctBy(x => x.LineCode).Where(p => p.LineCode != "DeedmacOperation").ToList();
    //listLineName = listLineName.Where(p => p != "DeedmacOperation").Distinct().ToList();
    //var _report = DependencyResolver.Current.GetService<IReportService>();
   
    //var _dmsService = DependencyResolver.Current.GetService<IDmsService>();
}

<div>
    Comming soon...
</div>

