@{

    //page title
    ViewBag.Title = "Frequency";
    Layout = "~/Views/Shared/_KendoUILayout.cshtml";
}
<script src="@Url.Content("~/Scripts/kendo/2014.1.318/kendo.web.min.js")"></script>

<div id="frequency-grid"></div>

<script>
    $(document).ready(function () {     

        var datasource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("List", "Frequency"))",
                    type: "POST",
                    dataType: "json",
                    //data: getSearchStrData
                }                
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                   
                }
            },
            error: function (e) {
                display_kendoui_grid_error(e);
            },
            pageSize: 10,
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        });     

        $("#frequency-grid").kendoGrid({
            dataSource: datasource,
            pageable: {
                refresh: true,
                pageSizes: ["5", "10", "15", "20"]
            },
            //editable: {
            //    mode: "popup",
            //    //default title of popup editor
            //    window: {
            //        title: "Create Category",
            //    }
            //},                       
            scrollable: false,
            columns: [              
                {
                    field: "Name",
                    title: "Name",
                    width: 200,
                    headerAttributes: { class: "text_align_center" }                   
                },
                {
                    field: "Mark",
                    title: "Mark",
                    width: 200,
                    headerAttributes: { class: "text_align_center" }                  
                }
            ],
        });

        function display_kendoui_grid_error(e) {
            if (e.errors) {
                if ((typeof e.errors) == 'string') {
                    //single error
                    //display the message
                    alert(e.errors);
                } else {
                    //array of errors
                    //source: http://docs.kendoui.com/getting-started/using-kendo-with/aspnet-mvc/helpers/grid/faq#how-do-i-display-model-state-errors?
                    var message = "The following errors have occurred:";
                    //create a message containing all errors.
                    $.each(e.errors, function (key, value) {
                        if (value.errors) {
                            message += "\n";
                            message += value.errors.join("\n");
                        }
                    });
                    //display the message
                    alert(message);
                }
            } else {
                alert(e.xhr.responseText);
            }
        }         
    });
</script>