<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="Home" controller="Home" action="Overview">
    <siteMapNode title="User management" Icon="fa-user" PermissionNames="ManageUser,Management">
      <siteMapNode title="User List" PermissionNames="ManageUser" controller="UserManager" action="Index"/>
      <siteMapNode title="User Role" PermissionNames="ManageUser" controller="UserRole" action="Index"/>
      <siteMapNode title="Permission" PermissionNames="Management" controller="Permission" action="Index"/>
    </siteMapNode>
    <siteMapNode title="DDS Management" Icon="fa-cog" PermissionNames="ManageUser, ManageDepartment,ManageLine,ManageDms,ManageMeasure">
      <siteMapNode title="User In Meeting" PermissionNames="ManageUser" controller="Meeting" action="Index"/>
      <siteMapNode title="User In SC DDS" PermissionNames="ManageUser" controller="UserAllowInSupplyChain" action="Index"/>
      <siteMapNode title="Line Management" PermissionNames="ManageLine" controller="Line" action="Index"/>
      <siteMapNode title="DMS Management" PermissionNames="ManageDms" controller="Dms" action="Index"/>
      <siteMapNode title="Measure Management" PermissionNames="ManageMeasure" controller="Measure" action="Index"/>
      <siteMapNode title="Department Management" PermissionNames="ManageDepartment" controller="Department" action="Index"/>
      <siteMapNode title="Classification Management" PermissionNames="ManageDepartment" controller="Classification" action="Index"/>
      <siteMapNode title="Found By Function Management" PermissionNames="ManageDepartment" controller="FoundByFunction" action="Index"/>
    </siteMapNode>
    <siteMapNode title="DDS Meeting" Icon="fa-desktop">
      <siteMapNode title="Liquids Making" controller="DdsMeeting" action="Index" id="1"/>
      <siteMapNode title="Liquids Packing" controller="DdsMeeting" action="Index" id="2"/>
      <siteMapNode title="Liquids FR" controller="DdsMeeting" action="Index" id="3"/>
      <siteMapNode title="Supply Chain" controller="SupplyChain" action="Index"/>
    </siteMapNode>
    <siteMapNode title="Attendance" PermissionNames="ViewAttendance,ViewAttendance,ViewAttendance,ViewAttendance" Icon="fa-users" controller="Attendance" action="Index"/>
    <siteMapNode title="Do follow up" PermissionNames="ViewIssues,WriteIssues" Icon="fa-check-square-o" controller="DdsMeeting" action="DoFollowUp"/>
    <siteMapNode title="Tracking" PermissionNames="ViewTracking" Icon="fa-list-ul" controller="Tracking" action="Manage"/>
    <siteMapNode title="Quality Alert" Icon="fa-exclamation-triangle" controller="QualityAlert" action="Index" PermissionNames="CategoryManagement, ScoreCardMeasureManagement, ClassificationDefectManagement, SupplierManagement, QualityAlert, ScoreCard, QAReport,Frequency">
      <siteMapNode title="Quality Alert" PermissionNames="CategoryManagement" controller="QualityAlert" action="Index"/>
      <siteMapNode title="Category" PermissionNames="CategoryManagement" controller="Category" action="Index"/>
      <siteMapNode title="Scorecard Measure" PermissionNames="ScoreCardMeasureManagement" controller="ScMeasure" action="Index"/>
      <siteMapNode title="Classification Defect" PermissionNames="ClassificationDefectManagement" controller="ClassificationDefect" action="Index"/>
      <siteMapNode title="Suppliers" PermissionNames="SupplierManagement" controller="Supplier" action="Index"/>
      <siteMapNode title="Scorecard" PermissionNames="ScoreCard" controller="ScoreCard" action="Index"/>
      <siteMapNode title="QA Report" PermissionNames="QAReport" controller="QualityAlert" action="Report"/>
      <siteMapNode title="Frequency" PermissionNames="Frequency" controller="Frequency" action="Index"/>
    </siteMapNode>
    <siteMapNode title="Shutdown" Icon="fa-power-off" controller="Shutdown" action="Index"/>
    <siteMapNode title="Product planning" Icon="fa-calendar fa-fw" controller="ProductPlanning" action="Index"/>
    <siteMapNode title="Report" Icon="fa-signal">
      <siteMapNode title="Liquids Making" controller="Report" action="Index" id="1"/>
      <siteMapNode title="Liquids Packing" controller="Report" action="Index" id="2"/>
      <siteMapNode title="Liquids FR" controller="Report" action="Index" id="3"/>
      <siteMapNode title="Supply Chain" controller="SupplyChainReport" action="Index"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>
