@{
    ViewBag.Title = "Access denied";
    Layout = "~/Views/Shared/_KendoUILayout.cshtml";
}

<div class="access-denied" style="color: red">
    Opp! You don't have permission to access this, please contact Admin to be supported !!!
</div>